<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074972795804-9cgsvhorf5mvbirpkttd27140lr5og9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074972795804-9cgsvhorf5mvbirpkttd27140lr5og9k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1074972795804-rlt7cra5bc3nvgkjojcf1oplch1at19h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFX6cd_hZ6_hKHW-rtmRfpD1rvDs40oKE</string>
	<key>GCM_SENDER_ID</key>
	<string>1074972795804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vartarevartaMagazine</string>
	<key>PROJECT_ID</key>
	<string>vareva-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>vareva-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074972795804:ios:6586ac0c5633887bf6de59</string>
</dict>
</plist>